<% if notice %>
  <center id="notice" class="alert alert-success" role="alert"> <font color="green"> <%= notice %> </font></center>
<% end %>

<div class="page-header">
  <div class="pull-right">
    <%= link_to "All", type: "all"%> |
    <%= link_to "Incomplete", type: "incomplete"%>
    <%= link_to 'New Task', new_task_path, class: "btn btn-info" %>
  </div>
  <h1>Tasks</h1>
</div>

<table class="table">
  <thead>
    <tr>
      <th>Description</th>
      <th>Completed</th>
      <th>Due</th>
    </tr>
  </thead>

  <tbody>
    <% @tasks.each do |task| %>
      <tr>
        <td><%= task.description %></td>
        <td><%= task.complete %></td>
        <td><%= task.due_date %></td>
        <td class="pull-right">
          <%= link_to 'Show', task, class: "btn btn-success" %>
          <%= link_to 'Edit', edit_task_path(task), class: "btn btn-info" %>
          <%= link_to 'Delete', task, method: :delete, data: { confirm: 'Are you sure?' }, class: "btn btn-danger" %>
        </td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>
