<div class="page-header">
  <%= link_to 'New User', new_user_path, class: "pull-right btn btn-primary" %>
  <div class="pull-right">
    <%= link_to "All", type: "all"%> |
    <%= link_to "Incomplete", type: "incomplete"%>
  </div>
  <h1>Users</h1>
</div>

<table class="table">
  <thead>
    <tr>
      <th>Name</th>
      <th>Email</th>
    </tr>
  </thead>

  <tbody>
    <% @users.each do |user| %>
    <tr>
      <td><%= user.description %></td>
      <td><%= user.complete %></td>
      <td><%= user.due_date %></td>
      <td class="pull-right">
        <%= link_to 'Show', user, class: "btn btn-success" %>
        <%= link_to 'Edit', user_task_path(user), class: "btn btn-primary" %>
        <%= link_to 'Destroy', user, method: :delete, data: { confirm: 'Are you sure?' }, class: "btn btn-danger" %>
      </td>
    </tr>
    <% end %>
  </tbody>
</table>

<br>
