<!DOCTYPE html>
<html>


  <div class="container">
    <head>
      <title>GCamp</title>
      <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
      <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
      <%= csrf_meta_tags %>
    </head>


    <body>
      <nav class="navbar navbar-inverse navbar-fixed-top" role="navigation">
        <div>
          <div class="navbar-header">
            <%= link_to "gCamp", root_path, class: "navbar-brand" %>
          </div>
        </div>
      </nav>

    <div>
      <%= yield %>
    </div>

    <div>
      <footer class="site-footer">
          <a href="/about">About</a> | <a href="/terms">Terms</a> | <a href="/FAQ">FAQ</a> | <a href="/tasks">Tasks</a> | <a href="/users">Users</a>
      </footer>
    </div>

  </body>


  </div>
</html>
